# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "zh-CN"  # 站点语言区域设置"en-US"
title                    : "夏约舟"  # 站点标题
title_separator          : "-"  # 标题分隔符
name                     : &name "夏约舟" # 站点名称（锚点引用）
description              : &description "personal description"  # 站点描述
url                      : https://bjxiaxueliang.github.io # 站点的基础主机名和协议
baseurl                  : "" # 站点的子路径，例如 "/blog"
repository               : "bjxiaxueliang/bjxiaxueliang.github.io"  # 代码仓库地址

# 站点作者 - 以下控制侧边栏中作者内容的显示
#               如果字段为空，则不会显示图标和链接，否则会显示
#               可以通过编辑 /_includes/author-profile.html 进行额外定制
author:
  # 个人信息
  avatar           : "https://raw.githubusercontent.com/bjxiaxueliang/bjxiaxueliang.github.io/main/images/202511071607826.PNG"
  name             : "夏约舟"  # 作者姓名
  bio              : "字句不入心，定是心神外出云游了。不急，让我们泡茶以待，静候他采一段美好故事归来..."  # 个人简介
  location         : "北京"   # 所在地
  employer         : #"research institute"  # 雇主/工作单位
  uri              : "https://blog.csdn.net/xiaxl"  # 个人网站链接
  email            : "bjxiaxueliang@outlook.com"    # 邮箱地址

  # 学术网站
  arxiv            : # URL - Update with the correct link to your profile
  googlescholar    : # "https://scholar.google.com/citations?user=PS_CX0AAAAAJ"
  impactstory      : # URL
  orcid            : # "http://orcid.org/yourorcidurl"
  pubmed           : # "https://www.ncbi.nlm.nih.gov/pubmed/?term=john+snow"
  researchgate     : # URL


  # 代码仓库和软件开发
  bitbucket        : # Username - Update with your username on the site
  codepen          : # Username
  dribbble         : # Username
  github           : "bjxiaxueliang"
  kaggle           : # Username  
  stackoverflow    : # User number or user number and name (i.e., use "1" or "1/jeff-atwood")    

  # 社交媒体
  bluesky          : # "bsky.app" # Replace this with you Bluesky username
  facebook         : # Username
  flickr           : # Username
  foursquare       : # Username
  goodreads        : # Username
  google_plus      : # Username
  keybase          : # Username
  instagram        : # Username
  lastfm           : # Username
  linkedin         : # Username
  mastodon         : # URL
  medium           : # URL
  pinterest        : # Username
  soundcloud       : # Username
  steam            : # Username
  telegram         : # URL
  tumblr           : # Username
  twitter          : # Username for X / Twitter
  vine             : # Username
  weibo            : # Username
  wikipedia        : # Username
  xing             : # Username
  youtube          : # Username
  zhihu            : # URL


# 站点设置
teaser                   :  # 预告图片的文件名，放置在 /images/ 目录中，例如 "500x300.png"
breadcrumbs              : false # 是否显示面包屑导航，true 或 false（默认为 false）
words_per_minute         : 160  # 每分钟阅读字数（用于计算阅读时间）
future                   : true # 是否发布未来日期的文章
read_more                : "disabled" # 如果启用，会在摘要后添加"阅读更多"链接
talkmap_link             : false # 改为true可在演讲页面添加talkmap链接
comments:
  provider               : # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "custom"  评论系统供应商
  disqus:
    shortname            :
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
staticman:
  allowedFields          : ['name', 'email', 'url', 'message']
  branch                 : "gh-pages" # "master", "gh-pages"
  commitMessage          : "New comment."
  filename               : comment-{@timestamp}
  format                 : "yml"
  moderation             : true
  path                   : "_data/comments/{options.slug}"
  requiredFields         : ['name', 'email', 'message']
  transforms:
    email                : "md5"
  generatedFields:
    date:
      type               : "date"
      options:
        format           : "iso8601" # "iso8601" (default), "timestamp-seconds", "timestamp-milliseconds"
atom_feed:
  hide                   : false     # change to true to hide the RSS feed in the footer
  path                   : # blank (default) uses feed.xml


# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :


# Social Sharing
twitter:
  username               : &twitter
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :  # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles


# 分析统计
analytics:
  provider               :  "google-universal" # false (default), "google", "google-universal", "google-analytics-4", "custom"
  google:
    tracking_id          :


# 读取文件设置
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"   # 排除的文件和目录
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git  # 保留的文件
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# 集合配置
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/


# 默认值设置
defaults:
  # _posts    页面的默认设置
  - scope:
      path: ""
      type: posts
    values:
      layout: single    # 布局模板
      author_profile: true  # 显示作者简介
      read_time: true   # 显示阅读时间
      comments: true    # 启用评论
      share: true       # 启用分享
      related: true     # 显示相关文章
  # _pages    页面的默认设置
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _teaching       页面的默认设置
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _publications       页面的默认设置
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _portfolio        页面的默认设置
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  # _talks          页面的默认设置
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: America/Los_Angeles # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
